<!-- weather overview -->
<ion-view view-title="Weather">
  <ion-content>
    <ion-list>
      <!-- repeat all items in weather array into list-->
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="weather in weathers" type="item-text-wrap" href="#/tab/weather">
        
        <h2>{{weather.name}} ({{weather.coord.lon}}, {{weather.coord.lat}})</h2>
        
        <p>{{weather.main.temp_max}, {{weather.main}}, {{weather.weather.description}}</p>
        <p>Air Pressure: {{main.pressure}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(weather)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
