<!-- login -->
<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="UserForm" ng-submit="doLogin()" novalidate="novalidate">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <!-- Set params -->
          <input type="text" ng-model="loginData.username" ng-minlength="6" ng-maxlength="10">
        </label>
        <!-- display errors if conditions not met -->
        <p ng-show="UserForm.username.$error.$minLength">Username is too short</p>
        <p ng-show="UserForm.username.$error.$maxLength">Username is too long</p>
        
        <label class="item item-input">
          <span class="input-label">Password</span>
          <!-- Set params -->
          <input type="password" ng-model="loginData.password" ng-minlength="6" ng-maxlength="10">
        </label>
        <!-- display errors if conditions not met -->
        <p ng-show="UserForm.password.$error.$minLength">password is too short</p>
        <p ng-show="UserForm.password.$error.$maxLength">password is too long</p>
        <label class="item">
          <!-- Submit calls 'dologin()' -->
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
