
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard/login Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>



  <!-- Weather Tab -->
  <ion-tab title="Weather" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/weather">
    <ion-nav-view name="tab-weather"></ion-nav-view>
  </ion-tab>

  
 


</ion-tabs>
