<ion-view view-title="{{weather.name}}">
  <ion-content class="padding">
    <h2>{{weather.name}} ({{weather.coord.lat}}, {{weather.coord.lon}})</h2>

    <!-- google maps -->
    <map center="{{weather.coord.lat}}, {{weather.coord.lon}}" zoom="13" 
                disable-default-u-i="true">

        <marker position="{{[weather.coord.lat,weather.coord.lon]}}"></marker>
    </map>

     
    <p>{{weather.main.temp_max}, {{weather.main}}, {{weather.weather.description}}</p>
    <p>Air Pressure: {{main.pressure}}</p>

  </ion-content>
</ion-view>
